Repository BinaryStudioAcademy/thread-js, pull requests merged in 2023-06, with the labels that each got.

#102 thjs-55: Add prettier script linting
  .lintstagedrc.yml
  client/src/libs/components/checkbox/checkbox.jsx
  client/src/libs/components/message/message.jsx
  client/src/libs/components/notifications/notifications.jsx
  client/src/libs/components/segment/segment.jsx
  client/src/libs/components/spinner/spinner.jsx
  client/src/libs/hooks/hooks.js
  client/src/packages/image/libs/enums/enums.js
  client/src/packages/post/libs/enums/enums.js
  client/src/packages/user/constants/user.constants.js
  client/src/pages/app/app.jsx
  client/src/pages/not-found/not-found.jsx
  client/src/pages/profile/profile.jsx
  client/src/pages/thread/components/add-post/add-post.jsx
  client/src/pages/thread/components/expanded-post/expanded-post.jsx
  client/src/pages/thread/components/expanded-post/libs/helpers/get-sorted-comments/get-sorted-comments.helper.js
  client/src/pages/thread/thread.jsx
  client/src/slices/profile/actions.js
  client/src/slices/profile/profile.js
  client/src/slices/profile/profile.slice.js
  client/src/slices/thread/common.js
  client/src/slices/thread/thread.slice.js
  package-lock.json
  package.json
  readme.md
  server/src/db/migrations/20211208202419_create_tables.js
  server/src/db/seed-data/posts-seed.js
  server/src/libs/packages/controller/controller.js
  server/tests/api/0-starter/comment.api.spec.js
  server/tests/api/0-starter/image.api.spec.js
  shared/src/libs/helpers/any/any.js
  shared/src/packages/user/user.js
Labels: root, shared, server, development, client

#103 thjs-56: Move functional routes to controllers
  server/knexfile.js
  server/src/libs/packages/controller/controller.api.js
  server/src/libs/packages/controller/controller.js
  server/src/libs/packages/database/database.js
  server/src/libs/packages/database/database.package.js
  server/src/libs/packages/path/libs/helpers/get-joined-normalized-path/get-joined-normalized-path.helper.js
  server/src/libs/packages/path/libs/helpers/helpers.js
  server/src/libs/packages/path/libs/helpers/join-path/join-path.helper.js
  server/src/libs/packages/path/libs/helpers/normalize-trailing-slash/normalize-trailing-slash.helper.js
  server/src/libs/packages/path/path.js
  server/src/libs/packages/server-application/server-app-api.js
  server/src/libs/packages/server-application/server-app.js
  server/src/libs/packages/server-application/server-application.js
  server/src/main.js
  server/src/packages/auth/auth.api.js
  server/src/packages/auth/auth.controller.js
  server/src/packages/auth/auth.js
  server/src/packages/comment/comment.api.js
  server/src/packages/comment/comment.controller.js
  server/src/packages/comment/comment.js
  server/src/packages/image/image.api.js
  server/src/packages/image/image.controller.js
  server/src/packages/image/image.js
  server/src/packages/post/post.api.js
  server/src/packages/post/post.controller.js
  server/src/packages/post/post.js
  server/tests/api/0-starter/auth.api.spec.js
  server/tests/api/0-starter/comment.api.spec.js
  server/tests/api/0-starter/image.api.spec.js
  server/tests/api/0-starter/post.api.spec.js
  server/tests/api/1-dislike-post/post.api.spec.js
  server/tests/api/10-show-who-liked-comment/post-comment.api.spec.js
  server/tests/api/11-update-profile/user.api.spec.js
  server/tests/api/12-set-user-status/auth-user.api.spec.js
  server/tests/api/13-reset-set-password/password.api.spec.js
  server/tests/api/2-update-post/post.api.spec.js
  server/tests/api/3-delete-post/post.api.spec.js
  server/tests/api/4-update-comment/comment.api.spec.js
  server/tests/api/5-delete-comment/comment.api.spec.js
  server/tests/api/6-like-dislike-comment/comment.api.spec.js
  server/tests/api/7-show-hide-own-posts/post.api.spec.js
  server/tests/api/8-show-liked-by-own-posts/post.api.spec.js
  server/tests/api/9-show-who-liked-post/post.api.spec.js
  server/tests/libs/packages/app/libs/helpers/build-app/build-app.helper.js
  server/tests/libs/packages/database/libs/helpers/clear-database/clear-database.helper.js
  server/tests/libs/packages/database/libs/helpers/get-crud-handlers/get-crud-handlers.js
  server/tests/libs/packages/path/libs/helpers/helpers.js
  server/tests/libs/packages/path/path.js
Labels: server, development

#104 thjs-59: Add convict to check env
  package-lock.json
  server/package.json
  server/src/libs/packages/config/config.package.js
Labels: root, server, development

#105 thjs-60: Fix path join helper
  server/src/libs/packages/config/config.package.js
  server/src/libs/packages/controller/controller.api.js
  server/src/libs/packages/path/libs/helpers/get-joined-normalized-path/get-joined-normalized-path.helper.js
  server/src/libs/packages/path/libs/helpers/helpers.js
  server/src/libs/packages/path/libs/helpers/join-path/join-path.helper.js
  server/src/libs/packages/path/libs/helpers/normalize-trailing-slash/normalize-trailing-slash.helper.js
  server/src/libs/packages/path/path.js
  server/tests/api/0-starter/auth.api.spec.js
  server/tests/api/0-starter/comment.api.spec.js
  server/tests/api/0-starter/image.api.spec.js
  server/tests/api/0-starter/post.api.spec.js
  server/tests/api/1-dislike-post/post.api.spec.js
  server/tests/api/10-show-who-liked-comment/post-comment.api.spec.js
  server/tests/api/11-update-profile/user.api.spec.js
  server/tests/api/12-set-user-status/auth-user.api.spec.js
  server/tests/api/13-reset-set-password/password.api.spec.js
  server/tests/api/2-update-post/post.api.spec.js
  server/tests/api/3-delete-post/post.api.spec.js
  server/tests/api/4-update-comment/comment.api.spec.js
  server/tests/api/5-delete-comment/comment.api.spec.js
  server/tests/api/6-like-dislike-comment/comment.api.spec.js
  server/tests/api/7-show-hide-own-posts/post.api.spec.js
  server/tests/api/8-show-liked-by-own-posts/post.api.spec.js
  server/tests/api/9-show-who-liked-post/post.api.spec.js
Labels: server, development

#106 THKS 51: Fix socket connection
  client/.env.example
  client/src/packages/socket/socket-api.js
  client/vite.config.js
Labels: client

#107 thjs-62: Toast notification does not appear after post was liked
  client/src/packages/socket/socket-api.js
  client/src/packages/store/middlewares/notification-socket/notification-socket.middleware.js
  client/vite.config.js
Labels: development, client

#108 thjs-58: Frontend base structure improvements
  .gitignore
  client/src/libs/components/post/post.jsx
  client/src/packages/comment/comment.js
  client/src/packages/notification/libs/enums/enums.js
  client/vite.config.js
Labels: development, client

#109 thjs-61: Update readme
  readme.md
Labels: root, development
